nav {
    background-color: #7bb975;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}
header, footer {
    background-color: #18432a;
    color: #f0f0f0;
    padding: 10px;
}
.index{
    display: inline-block;
    vertical-align: top;
    width: 45%;
    height: 100%;
    padding: 20px;
    background-color: #85e892;    
}
aside  {
    display:inline-block;
    vertical-align: top;
    width: 51%;
    height: 100%;
    padding: 5px;
    background-color: #76af77;    
}
@media only screen and (max-width: 600px) {
    main, aside {
        display: block;
        width: 100%;
    }
}
.sobre, .serv, .cont{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 20px;
    background-color: #85e892;    
}
.sects{
    border-radius: 10px; 
    display: inline-block;
    vertical-align: top;
    width: 45%;
    padding: 10px;
    color: #000000;
    margin-bottom: 10px;  
}
.section{
    border-radius: 10px; 
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 10px;
    color: #000000;
    margin-bottom: 10px; 
}
#section1 {
    background-color: #05ff26;

   
}
#section2 {
    background-color: #32e866;

}
.slider{
    list-style-type: none;
}
.slider {
    display: block;
    margin: 0;
    margin-top: 20px;
    position: relative;
    padding: 0;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    vertical-align: top;
    opacity: 0;
    visibility: hidden;
    animation:reverse;
}
.slider input {
    display: none;
}
.slider label {
    background-color: #76af77;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}
.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
form{
    width: 40%;
}
.nome, .email, .msg{
    background-color: #cbf2d0;
    color: rgb(15, 54, 10);
}